body{
    background-color: #66CCFF;
    margin: 0px;
    overflow: auto;
}
p{
    background-color: white;
    color: black
}
#rcorners4 {
    border-radius: 5px 5px 5px 5px;
    background: #8AC007;
    padding: 20px;
    width: inherit;
    height: inherit;
}
#webglviewer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
